<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>home page</title>
  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Bitter:wght@200;400&family=Dancing+Script&family=Kdam+Thmor+Pro&display=swap" rel="stylesheet">


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>


<style>
  html{
    height:100%;
  }
  body{
    height:100%;
   background-color: rgb(170, 166, 166);
 
   
  }
  .container{
    background-color: rgb(170, 166, 166);;
  }
    .img-thumbnail{
      min-height:200px ;
        max-height:200px;
    }

   a{text-decoration: none;
   color:black;
   }

   a:hover{
    text-decoration: none;
   }
   li:hover{
    background-color: rgb(107, 102, 102);
 
   }
 

 nav{
  box-shadow: 5px 5px 10px yellow;
 }
 .card{
  box-shadow: 2px 2px 3px black,-2px -2px 3px black;
 }
</style>


</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">PixaStore</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'register' %}">Register</a>
          </li>
          
          
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}" >Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
          
          
        </ul>
        
      </div>
    </div>
  </nav>
{% if messages %}
  {% for mesg in messages %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>{{mesg}}</strong> 
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
  {% endif %}
<div class="container mx-auto">
    <div class="row mx-auto">
        <div class="col-lg-3 my-5 mx-auto">
           
            <div class="card my-3 mx-auto" style="width: 15rem;">
                <div class="card-header">
                    <h5 style="font-size:700;font-family:Lobster,cursive;font-weight:bold;">My Albums</h5>
                  </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><a class="btn btn-block" href="{% url 'gallery' %}">All</a></li> 
                  {% for albums in album %}
                  <li class="list-group-item "><a class="btn btn-block" href="{% url 'gallery' %}?category={{albums.title}}" style="font-weight:500;font-size:medium;font-family:Lobster,cursive">{{albums.title}}</a></li> 
                  {% endfor %}
                
               
                  <a href="{% url 'addphoto' %}" class="btn btn-dark btn-block">Add Photo</a>
                </ul>
            </div>





</div>

  
        <div class="col-lg-8 mx-1 my-3">

            <h2 class="text-dark b border-bottom border-dark" style="font-weight:bolder ;text-shadow:1px 1px 1px white;font-weight:600;text-align:center;font-family:Lobster,cursive;">My Photos....</h2>
            <h4 class="text-dark b my-4" style="font-weight:bolder ;text-shadow:1px 1px 1px white;font-weight:600;text-align:left;font-family:Lobster,cursive;">Album:{{category}}</h4>
<div class="row">
  {% for pic in pics %}
    <div class="col-lg-4 col-md-6 my-3 mx-auto">
      
    <div class="card my-3 mx-auto" style="width: 15rem;box-shadow: 1px 1px 2px black,-1px -1px 2px black;">
        
        <img src="{{pic.image.url}}" class="img-thumbnail" alt="...">
        <div class="mx-1 my-1" style="font-size:1.1rem ;font-weight:800;text-align: center;color:rgb(74, 10, 164);font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{pic.title|truncatechars:20}}</div>
        <div class="card-body">
          <div><small style="font-weight:bold ;font-size:0.8rem;">Category:{{pic.category}}</small>
        </div>
        </div>
        <div class="btn-group" role="group" aria-label="basicexample">
          <a href="{% url 'deletepic' pic.id %}" class="btn btn-outline-danger">Delete</a>
          <a href="{% url 'editpic' pic.id %}" class="btn btn-outline-dark">Edit</a>
        </div>
     
        <a href="{% url 'viewphoto' pic.id %}" class="btn btn-outline-warning">View</a>
      </div>
    </div>
    {% empty %}
    <h3>No photos added..Start Adding ur Photos now.</h3>
    {% endfor %}
</div>
        </div>
    </div>
</div>

</body>
</html>